{% extends "base.html.twig" %}

{% block body %}

    {% include('header.html.twig') %}

    <main class="container entreprises-et-initiatives">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12">

                        <div class="titre_categorie titre_entreprises"></div>


                    </div>
                </div>

                {% include('partenaires.html.twig') %}

                <div class="row">
                    {% for article in articles %}
                        <div class="articles col-12 col-lg-6">
                            <article>
                                <a href="/article?id={{ article.id }}">
                                    <div class="content_article">
                                        <div style="position:relative;z-index:1">
                                            <div class="content_image">
                                                <img src="{{ article.images }}" alt="Image de l'article">
                                            </div>
                                            <div class="rubrique_index entreprises_rubrique">
                                                {{ article.idRubrique }}
                                            </div>
                                            <div class="text_article">
                                                {{ article.titre }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <p>{{ article.texteRaw }}</p>
                                <div class="row m-0">
                                    <div class="col-6 p-0 reseaux-sociaux">
                                        <a href="https://www.facebook.com/Estevaleditions/?ref=hl" target="_blank">
                                            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                        </a>
                                        <a href="https://twitter.com/bisaga" target="_blank">
                                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                                        </a>
                                        <a href="https://fr.linkedin.com/in/thierry-bisaga-66a77a" target="_blank">
                                            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 p-0 d-flex justify-content-end">
                                        <div class="suite"><button class="btn-suite">Lire la suite</button></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include('sidebar.html.twig') %}

        </div>
    </main>
    {% include('footer.html.twig') %}


{% endblock %}