{% extends "base.html.twig" %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
              xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <link href="{{ asset('login.css') }}" rel="stylesheet"/>

    {% endblock %}

{% block body %}

    <!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <!-- Modal -->


<<<<<<< HEAD
=======
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div id="headerConnexion"  class="modal-header">
                                <h1 class="leftTop">Vous avez délà un compte?</h1>
                                <h2 class="leftBottom">Entrez ici votre email et votre mot de passe</h2>
                            </div>
                            <div class="separator"></div>
                            <div class="modal-body">
                                <form class="connexion">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="adresse@email.fr">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Votre mot de passe">
                                    </div>
                                    <button type="submit" id="connexion" class="btn btn-primary">Me connecter !</button>
                                    <a href="#">Mot de passe oublié?</a>
                                    <p class="loginSocials">Ou connectez-vous directement...</p>
                                </form>
                                <div class="separator"></div>
                                <ul>
                                    <li><a href="#"><img src="{{ asset('images/facebook.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/linkedin.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/twitter.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/googlePlus.png') }}" alt="liens facebook"></a></li>
                                </ul>
                                <div class="separator"></div>
                            </div>
                        </div>

                        <div class="separatorVertical"></div>

                        <div class="col-sm-6">
                            <div id="headerInscription" class="modal-header">
                                <h1 class="rightTop">Vous souhaitez vous inscrire?</h1>
                                <h2 class="rightBottom">Entrez ici votre email et votre mot de passe</h2>
                            </div>
                            <div class="modal-body">
                                <form class="inscription"c>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nom">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Prénom">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword1" placeholder="adresse@email.fr">
                                    </div>
                                        <div id="checkbox">
                                            <div id="topCheckbox">
                                                <p>Je suis</p>
                                                <div id="checkerEntreprise" class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="entreprise">
                                                </div>
                                                <p>entreprise</p>
                                            </div>
                                            <div id="bottomCheckbox">
                                                <p>(un choix possible)</p>
                                                <div id="checkerParticulier" class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="particulier">
                                                </div>
                                                <p>particulier</p>
                                            </div>
                                        </div>
                                    <button type="submit" id="inscription" class="btn btn-primary">M'inscrire !</button>
                                    <p class="invitation">> Des infos quotidiennes</p>
                                    <p class="invitation">> Consultez nos offres d'abonnements</p>
                                </form>
                                <div class="separator"></div>
                                <p class="loginSocials">Ou connectez-vous directement...</p>
                                <ul>
                                    <li><a href="#"><img src="{{ asset('images/facebook.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/linkedin.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/twitter.png') }}" alt="liens facebook"></a></li>
                                    <li><a href="#"><img src="{{ asset('images/googlePlus.png') }}" alt="liens facebook"></a></li>
                                </ul>
                                <div class="separator"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
>>>>>>> registration

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}